@font-face {
  font-family: "ZvinSerif-Bold";
  src: url(../../fonts/ZvinSerif-Bold.eot);
  src: url(../../fonts/ZvinSerif-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/ZvinSerif-Bold.otf) format("otf"), url(../../fonts/ZvinSerif-Bold.svg#ZvinSerif-Bold) format("svg"), url(../../fonts/ZvinSerif-Bold.ttf) format("truetype"), url(../../fonts/ZvinSerif-Bold.woff) format("woff"), url(../../fonts/ZvinSerif-Bold.woff2) format("woff2");
}
.subtitle.service, .subtitle, .rooms .subtitle, .about .subtitle {
  margin-bottom: 12px;
  color: #212121;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.service .text, .rooms .text, .about .text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.about .button-primary, .hero .button, .menu-button {
  padding: 15px 30px;
  border: 2px solid #212121;
  background-color: #212121;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.about .button-primary:hover, .hero .button:hover, .menu-button:hover {
  background-color: transparent;
  color: #212121;
  border: 2px solid #212121;
}

.service .button-secondary, .rooms .button-secondary, .about .button-secondary {
  padding: 10px 30px;
  border: 2px solid #212121;
  background-color: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.service .button-secondary:hover, .rooms .button-secondary:hover, .about .button-secondary:hover {
  background-color: #212121;
  color: #ffffff;
}

.hero .button, .hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F3F4F6;
  color: #212121;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header > .container {
  position: relative;
}

.hero, .about, .rooms {
  margin-bottom: 60px;
}

.reviews {
  margin-bottom: 40px;
}

.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    z-index: 1;
    display: none;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000000;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    gap: 305px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0;
    padding: 6px 16px;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button.is-open {
  position: fixed;
  top: 32px;
  right: 30px;
  z-index: 2;
  background-color: transparent;
  border: none;
}

.menu-button .menu-button-txt {
  display: block;
}

.menu-button.is-open .menu-button-txt {
  display: none;
}

.menu-button .menu-button-icon {
  display: none;
}

.menu-button.is-open .menu-button-icon {
  display: block;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.phone-number {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.subtitle.menu {
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 38px;
}

.number {
  display: block;
  margin: 50px 0 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.hero {
  max-width: 100%;
  height: 530px;
  background-image: url("../img/hero/hero720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-container {
  position: relative;
  transform: translate(50%, 80%);
  left: -50%;
}

.title {
  font-family: "ZvinSerif-Bold";
  font-size: 10vw;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;
}

.hero .text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.hero .button {
  padding: 15px 30px;
}

.about .button-primary {
  margin: 0 0 12px;
}

.subtitle.card {
  margin: 12px 0;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}

.rooms .text {
  color: #7C7C7C;
}

@media screen and (max-width: 767px) {
  .service-index {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.subtitle.service {
  margin-top: 12px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.service .text {
  font-size: 18px;
  font-weight: 400;
  color: #7C7C7C;
}

.service-item {
  margin-bottom: 40px;
}

.review-card {
  background-color: #ffffff;
  padding: 22px 16px;
}

.avatar-thumb {
  width: 60px;
}

.author-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}

.author-info {
  align-self: center;
}

.author-info .years {
  color: #7C7C7C;
  font-weight: 600;
}

.stars {
  display: flex;
  margin-bottom: 12px;
  line-height: 1.2;
}

.footer {
  border-top: 1px solid #212121;
  padding-top: 60px;
}

.footer .nav-list {
  margin-bottom: 40px;
}

.footer .nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #212121;
}

.social-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

footer .logo {
  align-self: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.prev {
  padding-right: 35px;
}

.next {
  padding-left: 35px;
}

.line {
  align-self: center;
  margin: 0;
  height: 1px;
  width: 40px;
  background-color: #212121;
  margin-left: 20px;
  margin-right: 20px;
}

.card-index {
  font-size: 16px;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */